<footer class="w-full py-6 mt-16 flex flex-col items-center text-gray-400 text-sm opacity-80 border-t border-gray-700 bg-slate-950">
  <span>© 2025 Francisco Javier Solis Bamaca. All rights reserved.</span>
  <span class="mt-1">Made with <a href="https://astro.build/" class="text-yellow-400 hover:underline" target="_blank" rel="noopener noreferrer">Astro</a> & <a href="https://tailwindcss.com/" class="text-yellow-400 hover:underline" target="_blank" rel="noopener noreferrer">Tailwind CSS</a></span>
</footer>
